<phpunit bootstrap="./tests/bootstrap.php">
    <php>
        <env name="SLIM_ENV" value="DEVELOPMENT"/>
    </php>

    <testsuites>
        <testsuite name="Deploy">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <!-- close any expectations, report issues -->
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>

    <filter>
        <blacklist>
            <directory>./vendor/</directory>
            <directory>./src/public/</directory>
        </blacklist>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./build/coverage"
            charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>